# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea/
*.iml
*.xml
out
gen
/base.txt
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/preferred-vcs.xml
/.idea/vcs.xml
/.idea/workspace.xml
